html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

select {
  font-size: 0.9rem;
}

#body-index {
  background-color: #FFF;
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
}
// --------

.content-page {
  width: 80%;
  margin: 0 auto;
  font-size: 1em;
  white-space: nowrap;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1vw;
}

#map path {
  fill: #666666;
  stroke: #999999;
}

#map path:hover {
  fill: #CC0000;
}

.left,
.right {
  padding: 1em;
  vertical-align: top;
  white-space: normal;
}

.right {
  width: 50%;
}

.options {
  font-weight: bold;

  > div {
    display: inline-block;
    margin-bottom: 0.5em;

    &.label {
      width: 36%;
      text-align: right;
    }

    &.label-chart1 {
      width: 36%;
      text-align: right;
      margin-bottom: 1em;
    }

    &.selector {
      width: 60%;
      text-align: left;
      vertical-align: top;
      white-space: nowrap;
    }

    &.selector-chart1 {
      width: 60%;
      text-align: left;
      vertical-align: top;
      margin-bottom: 1em;
    }
  }
}

.left {
  width: 50%;
}

.vis-name {
  font-weight: bold;
  font-size: 2em;
  color: #666666;
}

.vis-description {
  font-weight: normal;
  color: #666666;
  font-size: 1.2em;
}

.instruction {
  padding: 0.5vw;
  margin-bottom: 0.5vw;
  font-weight: bold;
  font-size: 2em;
}

.sub-instruction {
  padding: 0.5vw;
  margin-bottom: 0.5vw;
  font-size: 1.25em;
}

#example-chart-2 {
  font-size: 0.7em;
  height: 10em;
  overflow-y: scroll;
  color: #666666;
  line-height: 1.5em;
  box-shadow: 0px 5px 10px -3px #999999;
}

#remark-chart-4 {
  font-size: 0.7em;
  color: #666666;
  box-shadow: 0px 5px 10px -3px #999999;
}

.provider-header {
  font-size: 1.2em;
  color: #660000;
  font-weight: bold;
}

#example-chart-instruction {
  color: #660000;
  font-style: italic;
}

.red {
  color: #FF9999;
}

.year-slider {
  width: 50%;
  margin: 0.25em auto;
}

.year-label {
  list-style-type: none;
  padding:0;
  margin-bottom: 0;

  li {
    display: inline-block;
    width: 19%;
    text-align: center;
  }
}

.slider {
  width:80%;
}

.subunit-label {
  font-weight: lighter;
  font-size: 0.7em;
  fill: #666666;
}

text {
  pointer-events: none;
}

div.tooltip-frame {
  position: absolute;
  text-align: left;
  width: 16vw;
  padding: 0.5em;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 5px 10px -3px #999999;
  pointer-events: none;
  font-size: 1vw;
}

.axis-grid line {
  stroke: #EEEEEE;
}

.x.axis {
  font-size: 0.5em;
}

.line-hr {
  border: 1px dotted #CCCCCC;
  width: 80%;
}

.line-hr-tooltip {
  border-style: double;
  border-color: #CCCCCC;
  width: 95%;
}

.remark {
  border: 1px solid #CCCCCC;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: normal;
}

#remark-header {
  text-align: left;
}

.important-figure {
  font-size: 1.25vw;
  font-weight: bold;
}

.tooltip-frame ul {
  margin-top: 0;
  margin-bottom: 0;
}

.female {
  color: #ffa372;
  margin-right: 1em;
}

.male {
  color: #0f4c81;
  margin-right: 1em;
}

.other{
  color: #999999;
  margin-right: 1em;
}

#england-label {
  margin-right: 1.35em;
}

#scotland-label {
  margin-right: 1em;
}

.country-choice {
  color: #666666;
}

//--------- Mobile Site -----------

@media only screen and (max-device-width: 850px) {

  body {
    font-size: 20px;
  }

  .left,
  .right {
    display: block;
    width: 100%;
  }

  .subunit-label {
    font-size: 0.5em;
  }

  .story .content,
  .soon {
    width: 100%;
  }

  svg {
    font-size: 16px;
  }

}

@media only screen and (min-device-width: 850px) {
  .left,
  .right {
    display: inline-block;
  }
}